.menu-bg{
    background-color: #013443;
}
.navbar-nav .nav-item .nav-link{
    color: white !important;
    font-size: 14.3px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:white;
}
.navbar-nav .dropdown-menu {
    background-color: #D99A29;
}
.navbar-nav .dropdown-menu li .dropdown-item:hover{
    background-color: #D99A29 !important;
    border-bottom: 1px solid white;
}
.navbar-nav .dropdown-menu .dropdown-item{
    color: white;
}
a.navbar-brand img {
    width: 200px;
    height: 80px;
}
.font-color{
    color:#D99A29;
    font-weight: 1000;
    font-size: 50px;
}
.specail-color{
    color:#D99A29;
}
nav::after{
    content: "";
    display: block;
    position: absolute;
    top: 99%;
    left: 0;
    height: 15px;
    width: 100%;
    background-image: url(../image/golden-border.png);
    background-size: cover;
    background-repeat: repeat;
    z-index: 2;
}
/* ==================== END OF NAVBAR AND COROUSEL CSS PART ================= */
.gold-price h3{
    color:#D79A2B;
}
.gold-price-relative{
    position: relative;
}
.gold-after-line::before{
    content: "";
    display: block;
    background-color: #D79A2B;
    position: absolute;
    left: 50%;
    height: 93px;
    width: 1px;
    z-index: 2;
}
.priceBox-input span{
    padding: 13px 39px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    color: #ddd;
}
.priceBox-after{
    padding: 13px 39px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.priceBox-input input{
    margin-top: 31px;
    padding: 5px 2px;
    text-align: center;
}
.priceBox{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    border: 1px solid #D79A2B;
    padding: 15px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
}
.priceAfter-style{
    font-weight: 700;
    padding: 13px 39px;
    background-color: #ddd !important;
    color: black !important;;

}
.submit-btn{
    background-color: #D99A29;
    color: white;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 3px;
    margin-top: 17px;
    border: none;
}
.svg{
    width: 56px;
    height: 53px;
    padding: 7px;
    display: inline-block;
    position: absolute;
    left: 44%;
    bottom: 90%;
    background: #FFFFFF;
    border-radius: 27px;
    box-shadow: 0px 3px 9px black;
}
.wrapper{
    display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 45px 0px;
}
.wrapper h2{
    text-transform: uppercase;
}
.wrapper img{
    width: 70px;
    height: auto;
    padding-bottom: 22px;
}
/* ============================== End of GOld/Our Products =================*/
.owl-carousel .owl-item img{
    display: block;
    width: 70% !important;
}
/* =================END OF CAROSEL PART CSS ================= */
.videoBox {
    border: 1px solid black;
    padding: 21px;
    background-color: #ddd;
    box-shadow: 0px 4px 12px black;
    border-radius: 5px;
}
.videoBox video {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}
/* ============END OF MAIN PART of index part CSS================= */
/* ============START PARTNER HTML PART CSS================= */
.svg-image img {
    width: 52px;
}
.cl-svg img {
    height: 50px;
    padding-bottom: 7px;
    width: 50px;
}
.carousel-indicators [data-bs-target] {
    background-color: black !important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.social-icon i {
    padding: 14px;
    font-size: 35px;
}
footer img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
footer,i,.nav .nav-item .nav-link{
    color:white;
    padding-left: 0px;
}
.container-fluid.menu-bg h2 {
    font-size: 19px;
}